#answer-hint-0
{
	white-space: pre;
}

#answer-hint-1
{
	white-space: pre;
}

#answer-hint-2
{
	white-space: pre;
}

#answer-hint-3
{
	white-space: pre;
}

#answer-hint-4
{
	white-space: pre;
}


#answer-hint-5
{
	white-space: pre;
}

#answer-hint-6
{
	white-space: pre;
}
